body{
	background-color: gray;
}

.card{
	box-shadow: 1px 1px 1px black;
	background-color: white;
	padding: 30px;
	border-radius: 5px;
}

.form{
	width: 400px;
	margin: auto;
	padding-top: 40px;
}

.card-top{
	text-align: center;

}

.img-login{
	width: 100px;
	border-radius: 50%;
	box-shadow: 1px 1px 5px gray;
}

.titulo{
	color: red;
	font-family: sans-serif;
}

.card-group{
	margin-bottom: 10px;
}

.card-group > label{
	color: gray;
	display: block;

}

.card-group > input{
	border-radius: 5px;
	outline: 0;
	width: 100%;
	height: 25px;
	padding: 5px;

}

.card-group > button{
	background-image: linear-gradient(to right, red, blue);
	width: 100%;
	border-radius: 30px;
	padding: 15px;
	color: white;
	border: 0px;
	outline: 0; 
}

.btn button:hover{
	background-image: linear-gradient(to left, red, blue);


}